@import url('https://fonts.cdnfonts.com/css/proxima-nova-2');

@font-face {
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    src: local('Pacifico Regular'), local('Pacifico-Regular'),
      url(https://fonts.gstatic.com/s/pacifico/v12/FwZY7-Qmy14u9lezJ-6H6MmBp0u-.woff2)
        format('woff2');
    font-display: swap;
}

html {
    min-height:100%;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
}

/* Header */

.header {
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:2.5vw;
    margin-bottom:1.5em;
}
   
.header-menu {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items:center;
    font-size:1.5em;
    font-weight: bold;
}
.header-menu a {
    margin-left:1vw;
}
.header-menu a:not(:last-child) {
    margin-right:1vw;
}

  
.container {
    display:flex;
    min-width: 0;
    flex-shrink: 1;
    box-sizing: border-box;
    border: 5px solid transparent;
    /* padding: 1rem; */
    align-items:center;
    font-weight:bold;
}

.container img {
    display: flex;
    min-width: 0;
    flex-shrink: 1;
    width: 100%;
    max-width: 15rem;
    height: auto;
    margin-top:1rem;
}

.animated {
    background-image:
        linear-gradient(rgb(20,20,20), rgb(20,20,20)),
        linear-gradient(180deg, rgb(103, 58, 183), cornflowerblue 50%, rgb(103, 58, 183));
    background-repeat: no-repeat;
    background-size: 100% 100%, 100% 200%;
    background-position: 0 0, 0 100%;
    background-origin: padding-box, border-box;
    animation: highlight 1s infinite alternate;
}
/* rgb(102, 104, 210) */

@keyframes highlight {
  100% { background-position: 0 0, 0 0; }
}

.header-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    font-size: 2em;
    margin-right: 1rem;
    padding-top: 1rem;
    text-align: center;
}

/* General stuff */
   
body {
    display: block;
    padding: 2.5vw;
    font-family: 'Proxima Nova', Arial, sans-serif;
    font-size: 1em;
    color: #fff;
    background-color: rgb(20,20,20);   
}

h1{
    font-weight: bold;
    font-size: 2em;
}

h2{
    font-weight: bold;
    font-size: 1em;
}

/* Links */

a::before {  
    transform: scaleX(0);
    transform-origin: bottom right;
}
  
a:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}
  
a::before {
    content: "";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    background: #673ab7;
    z-index: -1;
    transition: transform .3s ease;
}

a:link, a:visited{
    position: relative;
    color: #fff;
    display: inline-block;
    text-decoration: underline;
    text-decoration-color: #673ab7; 
    text-decoration-thickness: 0.1rem;
    padding: 0rem 0.2rem;
}

a:hover {
    color: #fff;
    display: inline-block;
    text-decoration: none;
}

a:active {
    background-color:cornflowerblue;
}

a.invisible {
    color: #fff; 
    display: inline-block;
    text-decoration: none;
    padding: 0rem 0rem;
}

a.invisible:hover {
    background-color: transparent;
    text-decoration: none;
    padding: 0rem 0rem;
}

a.invisible:active {
    background-color:transparent;
}

/* Paper list */

li.inline {
    float: left;
    padding-right: 3rem;
}

ul.inline {
    display: inline-block;
    margin-bottom: 2rem;
}

li::marker {
    content: "◼ ";
    color: #673ab7;
    font-size: 1.5rem;
    padding-inline: 1rem;
}

li.conf::marker {
    content: "◼ ";
    color: #196ca3;
    font-size: 1.5rem;
    padding-inline: 1rem;
}

li.journals::marker {
    content: "◼ ";
    color: #c32b72;
    font-size: 1.5rem;
    padding-inline: 1rem;
}

li.workshop::marker {
    content: "◼ ";
    color: #4cbf50;
    font-size: 1.5rem;
    padding-inline: 1rem;
}

li.phd::marker {
    content: "◼ ";
    color: #f8c91f;
    font-size: 1.5rem;
    padding-inline: 1rem;
}

li.preprint::marker {
    content: "◼ ";
    color: #606b70;
    font-size: 1.5rem;
    padding-inline: 1rem;
}
