@import url('https://fonts.googleapis.com/css2?family=Proxima+Nova');
html {
 min-height:100%;
 -webkit-font-smoothing:antialiased;
 -moz-osx-font-smoothing:grayscale;
}
.header {
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:2.5rem;
    margin-bottom:1.5rem
   }
   
.header-menu {
    display:flex;
    align-items:center;
   }
.header-title {
    display:flex;
    align-items:center;
    font-weight:bold;
}
   

body {
    display:flex;
    flex-direction:column;
    min-height:100vh;
    font-family: 'proxima-nova', Helvetica, Arial, sans-serif;
    font-size:1rem;
    line-height:normal;
    color:#fff;
    background-color:#000;
}
h1{
    font-weight: bold;
    font-family: 'proxima-nova', Helvetica, Arial, sans-serif;
}
h2{
    font-weight: bold;
    font-family: 'proxima-nova', Helvetica, Arial, sans-serif;
}